.site {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0 10px;
  height: 400px;
}

@media (min-width: 1500px) {
  .presentation {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1700px) {
  .presentation {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.name {
  align-self: flex-start;
  padding-left: 110px;
}

.lastname {
  padding-right: 110px;
  align-self: flex-end;
}

.greetings {
  align-self: flex-start;
  padding-left: 20px;
  color: #001f3f;
}

.subtitle {
  align-self: flex-end;
  padding-right: 20px;
  color: #001f3f;
}

.stupid-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  font-weight: bolder;
  padding-left: 150px;
  padding-right: 150px;
  color: #001f3f;
}
.warning {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  color: red;
  font-weight: bolder;
}
