.mic-color {
  color: #083f75;
  transition: 0.8s;
  padding: 0;
  border: none;
  background: none;
  justify-content: center;
}

.mic-color-active {
  color: red;
  transition: 0.8s;
  padding: 0;
  border: none;
  background: none;
  justify-content: center;
}

button:focus {
  outline: none;
}

.legend {
  font-family: "Indie Flower", cursive;
  color: #001f3f;
  font-size: 18px;
  font-weight: bold;
  width: 170px;
  height: 30px;
}

.mic {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  height: 70px;
}

.mic-pad {
  padding-top: 19px;
}

@media (max-width: 900px) {
  .legend {
    font-size: 14px;
    width: 115px;
  }
}

@media (max-width: 700px) {
  .legend {
    display: none;
  }
}
